In [270]:
# Imports
import os
import csv
import pandas as pd
import requests
import json

In [271]:
gkey = input("Enter API Key ")

Enter API Key AIzaSyDrMXJ6ydcuusWRNUijiiBSfnO8EWYytNo

In [290]:
file = "Heart_Disease_Mortality_Data_Among_US_Adults_35_by_State_Territory_and_County.csv"
df = pd.read_csv(file)

In [291]:
# Deleting Useless Columns
df = df.drop(columns= ["Year", "GeographicLevel","DataSource","Class",'Topic',"Data_Value_Type",'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Unit'])
df = df.rename(columns={"LocationAbbr": "State", "LocationDesc": "County", "Data_Value": "Value", "Stratification1": "Gender", "Stratification2": "Race/Ethnicity", "Location 1": "LatLng"})

# Dropping Rows that are empty
df = df.dropna(how='any')

# Adding df1 for Google API Purpose, copy of df
df1 = df

# Getting 10% of dataframe
a = len(df)
rows = .1 *a
rows

df.head()

,State,County,Value,Gender,Race/Ethnicity,LatLng
0,AK,Aleutians East,105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,Aleutians West,211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,Anchorage,257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,Bethel,351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,Denali,305.5,Overall,Overall,"(63.678399, -149.962076)"

In [274]:
split = df["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(", ", n = 1, expand = True) 
splitLng = split[1].str.split(")", n = 1, expand = True) 
# making seperate first name column from new data frame 
df["Lat"]= split[0] 
  
# making seperate last name column from new data frame 
df["Lng"]= splitLng[0] 
  
# Dropping old Name columns 
df = df.drop(columns =["LatLng"]) 

# df display 

df.head()

  State          County  Value   Gender Race/Ethnicity        Lat          Lng
0    AK  Aleutians East  105.3  Overall        Overall  55.440626  -161.962562
1    AK  Aleutians West  211.9  Overall        Overall  52.995403  -170.251538
2    AK       Anchorage  257.9  Overall        Overall  61.159049  -149.103905
3    AK          Bethel  351.6  Overall        Overall  60.924483  -159.749655
5    AK          Denali  305.5  Overall        Overall  63.678399  -149.962076

In [275]:
# Sorting by county
county = pd.DataFrame(df)
county = county.loc[county['Gender']== "Overall"]
county = county.loc[county['Race/Ethnicity'] == "Overall"]

county = county.sort_values(['Value'],ascending=False)
#.groupby(['State', 'County'])

county.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [255]:
# Sorting by Ethnicity (White)
white = pd.DataFrame(df)
white = white.loc[white['Gender']== "Overall"]
white = white.loc[white['Race/Ethnicity'] == "White"]
white = white.sort_values(['State'])
#.groupby(['State', 'County'])
#white.head()

In [256]:
# Sorting by Ethnicity (Black)
black = pd.DataFrame(df)
black = black.loc[black['Gender']== "Overall"]
black = black.loc[black['Race/Ethnicity'] == "Black"]
black = black.sort_values(['State'])
#.groupby(['State', 'County'])
#black.head()

In [257]:
# Sorting by Ethnicity (Hispanic)
hispanic = pd.DataFrame(df)
hispanic = hispanic.loc[hispanic['Gender']== "Overall"]
hispanic = hispanic.loc[hispanic['Race/Ethnicity'] == "Hispanic"]
hispanic = hispanic.sort_values(['State'])
#.groupby(['State', 'County'])
hispanic.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
246,AK,Anchorage,98.7,Overall,Hispanic,61.159049,-149.103905
251,AK,Fairbanks North Star,153.3,Overall,Hispanic,64.809327,-146.586265
254,AK,Kenai Peninsula,79.4,Overall,Hispanic,60.271254,-151.556972
258,AK,Matanuska-Susitna,60.6,Overall,Hispanic,62.31628,-149.600476
266,AK,Valdez-Cordova,180.5,Overall,Hispanic,61.536161,-144.339956

In [258]:
# Sorting by Ethnicity (Indian)
Indian = pd.DataFrame(df)
Indian = Indian.loc[Indian['Gender']== "Overall"]
Indian = Indian.loc[Indian['Race/Ethnicity'] == "American Indian and Alaskan Native"]
Indian = Indian.sort_values(['State'])
#.groupby(['State', 'County'])
Indian.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
409,AK,Anchorage,477.9,Overall,American Indian and Alaskan Native,61.159049,-149.103905
503,AK,Alaska,422.1,Overall,American Indian and Alaskan Native,64.3173,-152.571
433,AK,Yukon-Koyukuk,384.4,Overall,American Indian and Alaskan Native,65.50404,-151.41038
430,AK,Wade Hampton,417.1,Overall,American Indian and Alaskan Native,62.159714,-163.349484
429,AK,Valdez-Cordova,439.3,Overall,American Indian and Alaskan Native,61.536161,-144.339956

In [259]:
# Sorting by Ethnicity (Asian)
Asian = pd.DataFrame(df)
Asian = Asian.loc[Asian['Gender']== "Overall"]
Asian = Asian.loc[Asian['Race/Ethnicity'] == "Asian and Pacific Islander"]
Asian = Asian.sort_values(['State'])
#.groupby(['State', 'County'])

Asian.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
327,AK,Anchorage,214.9,Overall,Asian and Pacific Islander,61.159049,-149.103905
335,AK,Kenai Peninsula,125.0,Overall,Asian and Pacific Islander,60.271254,-151.556972
340,AK,Matanuska-Susitna,94.6,Overall,Asian and Pacific Islander,62.31628,-149.600476
500,AK,Alaska,172.6,Overall,Asian and Pacific Islander,64.3173,-152.571
1535,AL,Alabama,79.8,Overall,Asian and Pacific Islander,32.7949,-86.8267

In [233]:
#Sorting Top 10%
top10 = county.iloc[range(0,round(rows)),]
top10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [229]:
#Sorting Bottom 10%
bottom10= county.iloc[range(len(county)- round(rows), len(county))]
bottom10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
45976,TN,Cocke County,576.6,Overall,Overall,35.927454,-83.1187
21858,MD,Somerset County,575.2,Overall,Overall,38.133509,-75.714006
27877,MS,Quitman County,573.3,Overall,Overall,34.257209,-90.287674
47801,TX,Hutchinson County,573.0,Overall,Overall,35.841282,-101.353978
27888,MS,Tishomingo County,572.1,Overall,Overall,34.747669,-88.231341

In [ ]:
# Top 10% for each Race/Ethnicity

white_top10 = pd.DataFrame()
black_top10 = pd.DataFrame()
hispanic_top10 = pd.DataFrame()
Asian_top10 = pd.DataFrame()
Indian_top10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_top10 = white_top10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_top10 = black_top10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_top10 = hispanic_top10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_top10 = Asian_top10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_top10 = Indian_top10.append(In)

In [ ]:
#Bottom 10 for each Race/Ethnicity

white_b10 = pd.DataFrame()
black_b10 = pd.DataFrame()
hispanic_b10 = pd.DataFrame()
Asian_b10 = pd.DataFrame()
Indian_b10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_b10 = white_b10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_b10 = black_b10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_b10 = hispanic_b10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_b10 = Asian_b10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_b10 = Indian_b10.append(In)

In [ ]:
# Code for census pulling

# **********************************************
# Don't forget to jump into PythonData
# **********************************************

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import time

# Census & gmaps API Keys
# census_api = input("What's your Census API key?")
# gmap_api = input ("What's your Gmaps API key?")
census_api = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"
c = Census(census_api, year=2014)
gmap_api = "AIzaSyCS1nhiSTclbrQT2_WtJHFvRLZ_eeuh5iI"

# Configure gmaps
# gmaps.configure(api_key=gkey)

# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B17001A_002E", "B17001B_002E", "B17001C_002E",
                          "B17001D_002E","B17001E_002E", "B17001G_002E", 
                          "B17001I_002E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
census_pd

# Column Reordering
census_pd = census_pd.rename(columns={"B17001A_002E": "poverty_White", 
                                        "B17001B_002E": "poverty_Black", 
                                        "B17001C_002E": "poverty_AmerInd",
                                        "B17001D_002E": "poverty_Asian",
                                        "B17001E_002E": "poverty_NatHaw", 
                                        "B17001G_002E": "poverty_Multi", 
                                        "B17001I_002E": "poverty_Hisp",
                                        "B01003_001E" : "totalpop",
                                          "NAME": "Name", "county": "Country"})

# Divide the "name" into its county and state separately. 
census_pd["CountyName"] = ""
census_pd["StateName"] = ""
for i in range(0,len(census_pd)):
    st = census_pd.Name[i].split(",")
    census_pd.CountyName[i] = st[0]
    census_pd.StateName[i] = st[1]

# Add in Poverty Rate (Poverty Count / Population)
census_pd["white_rate"] = 100 * (census_pd["poverty_White"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["black_rate"] = 100 * (census_pd["poverty_Black"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["amerind_rate"] = 100 * (census_pd["poverty_AmerInd"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["asian_rate"] = 100 * (census_pd["poverty_Asian"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["nathaw_rate"] = 100 * (census_pd["poverty_NatHaw"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["multi_rate"] = 100 * (census_pd["poverty_Multi"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["hisp_rate"] = 100 * (census_pd["poverty_Hisp"].astype(int) / census_pd["totalpop"].astype(int))


### Heat Mapping?
# Configure gmaps with API key
gmaps.configure(api_key=gmap_api)
# Store 'Lat' and 'Lng' into  locations 
locations = county[["County", "Lat", "Lng"]]
locations.Lat = locations.Lat.astype(float)
locations.Lng = locations.Lng.astype(float)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
poverty_rate_white = census_pd[["CountyName", "white_rate"]]
poverty_rate_white= poverty_rate_white.rename(columns = {"CountyName": "County"})
poverty_rate_white.head()

pov_whitemap = pd.merge(locations, poverty_rate_white, on = "County", how = "inner")

# Create a poverty Heatmap layer
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

In [ ]:
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = .5)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

In [ ]:
census_pd.head()

In [ ]:
census_pd.to_csv("cleanedCensus.csv")

In [296]:
# Creating DataFrame with correct google Lat/Lat format
google_Latlng = df1
split = google_Latlng["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(")", n = 1, expand = True) 
google_Latlng["Lat/Lng"]= split[0] 
  
# Dropping old columns 
google_Latlng.drop(columns =["LatLng"], inplace = True) 
google_Latlng.head()

  State          County  Value   Gender Race/Ethnicity                 Lat/Lng
0    AK  Aleutians East  105.3  Overall        Overall  55.440626, -161.962562
1    AK  Aleutians West  211.9  Overall        Overall  52.995403, -170.251538
2    AK       Anchorage  257.9  Overall        Overall  61.159049, -149.103905
3    AK          Bethel  351.6  Overall        Overall  60.924483, -159.749655
5    AK          Denali  305.5  Overall        Overall  63.678399, -149.962076

In [297]:
#Cleaning up google_Latlng df
google_Latlng = google_Latlng.loc[google_Latlng['Gender']== "Overall"]
google_Latlng = google_Latlng.loc[google_Latlng['Race/Ethnicity'] == "Overall"]
google_Latlng = google_Latlng.sort_values(['Value'],ascending=False)

#google_Latlng.head()

In [298]:
# Top 10
google_top10 = google_Latlng.iloc[range(0,round(rows)),]

#Bottom 10
google_bottom10= google_Latlng.iloc[range(len(google_Latlng)- round(rows), len(google_Latlng))]
google_bottom10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat/Lng
45976,TN,Cocke County,576.6,Overall,Overall,"35.927454, -83.1187"
21858,MD,Somerset County,575.2,Overall,Overall,"38.133509, -75.714006"
27877,MS,Quitman County,573.3,Overall,Overall,"34.257209, -90.287674"
47801,TX,Hutchinson County,573.0,Overall,Overall,"35.841282, -101.353978"
27888,MS,Tishomingo County,572.1,Overall,Overall,"34.747669, -88.231341"

In [136]:
#fast_food_count = []
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?query=Fast+Food&"
#token = 0
#if token < 1:
#    for i in google_top10["Lat/Lng"]:
#        params = {
#        "location": i,
#        "keyword": "fast",
#        "radius": 35000,
#        "type": "restaurant",
#        "key": gkey}
#        response = requests.get(base_url, params=params)

        # convert response to json
#        places_data = response.json()
        # Print the json (pretty printed)
        #print(json.dumps(places_data, indent=4, sort_keys=True))
        
#        fast_food_count.append(len(places_data["results"]))

In [236]:
# Adding Fast Food Column to Top 10 df
top10['Fast Food Count'] = fast_food_count
#top10.head()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng,Fast Food Count
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258,14
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936,6
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935,2
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377,3
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411,20
43946,SC,Marlboro County,738.9,Overall,Overall,34.600808,-79.679058,20
52873,VA,Greensville County,735.9,Overall,Overall,36.682771,-77.562017,20
27895,MS,Webster County,703.2,Overall,Overall,33.616977,-89.277813,10
1749,AR,Desha County,698.2,Overall,Overall,33.837396,-91.243883,11
27867,MS,Neshoba County,696.0,Overall,Overall,32.7541,-89.114888,15
7228,GA,Jeff Davis County,683.0,Overall,Overall,31.801325,-82.633199,20
45997,TN,Hardin County,679.2,Overall,Overall,35.20399,-88.187073,20
18239,KY,Breathitt County,673.5,Overall,Overall,37.527911,-83.328738,20
27871,MS,Panola County,671.8,Overall,Overall,34.371635,-89.947644,20
25772,MO,Pemiscot County,669.4,Overall,Overall,36.21205,-89.787284,20
27889,MS,Tunica County,668.4,Overall,Overall,34.653304,-90.37199,20
568,AL,Walker County,668.2,Overall,Overall,33.808663,-87.297984,20
18345,KY,Wolfe County,660.9,Overall,Overall,37.741617,-83.498395,19
39091,OK,Choctaw County,659.7,Overall,Overall,34.031472,-95.555596,9
20413,LA,Catahoula Parish,659.2,Overall,Overall,31.673371,-91.842346,11
20433,LA,Madison Parish,653.1,Overall,Overall,32.374207,-91.243839,20
18321,KY,Owsley County,649.9,Overall,Overall,37.420877,-83.691211,20
18323,KY,Perry County,642.8,Overall,Overall,37.251943,-83.227123,20
39082,OK,Atoka County,642.3,Overall,Overall,34.38021,-96.037164,12
39094,OK,Coal County,640.3,Overall,Overall,34.594034,-96.29397,20
29348,MT,Roosevelt County,636.1,Overall,Overall,48.297198,-105.028375,2
18291,KY,Lee County,630.2,Overall,Overall,37.595347,-83.722953,20
18265,KY,Gallatin County,623.5,Overall,Overall,38.757587,-84.858742,20
27886,MS,Tate County,616.9,Overall,Overall,34.659774,-89.94475,20
30353,NC,Columbus County,615.7,Overall,Overall,34.263849,-78.65428,20
...,...,...,...,...,...,...,...,...
16360,KS,Johnson County,213.9,Overall,Overall,38.881482,-94.822354,20
52886,VA,Loudoun County,213.8,Overall,Overall,39.09072,-77.633987,20
40483,OR,Benton County,213.8,Overall,Overall,44.486062,-123.427117,20
3459,CA,San Francisco County,213.5,Overall,Overall,37.746542,-122.430647,20
4509,CO,Hinsdale County,213.4,Overall,Overall,37.828659,-107.301385,20
4528,CO,Ouray County,213.3,Overall,Overall,38.156767,-107.76882,20
42403,PR,Fajardo Municipio,213.1,Overall,Overall,18.320068,-65.667425,20
43918,SC,Beaufort County,212.8,Overall,Overall,32.392616,-80.730442,20
42449,PR,Trujillo Alto Municipio,212.4,Overall,Overall,18.33525,-66.001776,20
42409,PR,Guaynabo Municipio,212.3,Overall,Overall,18.34593,-66.11532,20
42387,PR,Bayamon Municipio,212.2,Overall,Overall,18.348848,-66.169683,20
1,AK,Aleutians West,211.9,Overall,Overall,52.995403,-170.251538,0
42455,PR,Yabucoa Municipio,211.9,Overall,Overall,18.069078,-65.891522,20
42433,PR,Orocovis Municipio,211.4,Overall,Overall,18.215914,-66.435822,20
4484,CO,Arapahoe County,211.3,Overall,Overall,39.643411,-104.338029,20
42394,PR,Cayey Municipio,211.0,Overall,Overall,18.104703,-66.149939,20
24170,MN,Ramsey County,211.0,Overall,Overall,45.022166,-93.098935,20
42338,PR,Arecibo Municipio,210.8,Overall,Overall,18.407788,-66.678751,20
42428,PR,Moca Municipio,209.5,Overall,Overall,18.373741,-67.080534,20
52835,VA,Albemarle County,209.5,Overall,Overall,38.022933,-78.556573,20
32155,ND,Burleigh County,209.2,Overall,Overall,46.978139,-100.471788,20
5979,FL,Sarasota County,209.0,Overall,Overall,27.180267,-82.317079,20
42212,PR,Aguas Buenas Municipio,207.3,Overall,Overall,18.253056,-66.124047,20
52950,VA,Manassas Park City,207.3,Overall,Overall,38.772612,-77.445981,20
42399,PR,Comerio Municipio,207.0,Overall,Overall,18.224163,-66.221782,20
4508,CO,Gunnison County,206.2,Overall,Overall,38.662955,-107.028334,20
42395,PR,Ceiba Municipio,205.8,Overall,Overall,18.253186,-65.666095,20
3464,CA,Santa Clara County,205.7,Overall,Overall,37.224522,-121.684758,20
24112,MN,Anoka County,205.7,Overall,Overall,45.275102,-93.24911,20
42392,PR,Carolina Municipio,205.4,Overall,Overall,18.371252,-65.956634,20

In [239]:
#top10.to_csv("Top10.csv", index=False)

In [300]:
fast_food_countb = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?query=Fast+Food&"
token = 0
if token < 1:
    for i in google_bottom10["Lat/Lng"]:
        params = {
        "location": i,
        "keyword": "fast",
        "radius": 35000,
        "type": "restaurant",
        "key": gkey}
        response = requests.get(base_url, params=params)

        # convert response to json
        places_data = response.json()
        # Print the json (pretty printed)
        #print(json.dumps(places_data, indent=4, sort_keys=True))
        
        fast_food_countb.append(len(places_data["results"]))

In [301]:
bottom10['Fast Food Count'] = fast_food_count
bottom10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng,Fast Food Count
45976,TN,Cocke County,576.6,Overall,Overall,35.927454,-83.1187,14
21858,MD,Somerset County,575.2,Overall,Overall,38.133509,-75.714006,6
27877,MS,Quitman County,573.3,Overall,Overall,34.257209,-90.287674,2
47801,TX,Hutchinson County,573.0,Overall,Overall,35.841282,-101.353978,3
27888,MS,Tishomingo County,572.1,Overall,Overall,34.747669,-88.231341,20

In [302]:
bottom10.to_csv("Bottom10.csv", index=False)