In [1]:
# Imports
import os
import csv
import pandas as pd

In [2]:
file = "Heart_Disease_Mortality_Data_Among_US_Adults_35_by_State_Territory_and_County.csv"
df = pd.read_csv(file)

In [3]:
# Deleting Useless Columns
df = df.drop(columns= ["Year", "GeographicLevel","DataSource","Class",'Topic',"Data_Value_Type",'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Unit'])
df = df.rename(columns={"LocationAbbr": "State", "LocationDesc": "County", "Data_Value": "Value", "Stratification1": "Gender", "Stratification2": "Race/Ethnicity", "Location 1": "LatLng"})

# Dropping Rows that are empty
df = df.dropna(how='any')

# Getting 10% of dataframe
a = len(df)
rows = .1 *a
rows

df.head()

,State,County,Value,Gender,Race/Ethnicity,LatLng
0,AK,Aleutians East,105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,Aleutians West,211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,Anchorage,257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,Bethel,351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,Denali,305.5,Overall,Overall,"(63.678399, -149.962076)"

In [4]:
split = df["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(", ", n = 1, expand = True) 
splitLng = split[1].str.split(")", n = 1, expand = True) 
# making seperate first name column from new data frame 
df["Lat"]= split[0] 
  
# making seperate last name column from new data frame 
df["Lng"]= splitLng[0] 
  
# Dropping old Name columns 
df.drop(columns =["LatLng"], inplace = True) 

# df display 
#df

In [5]:
# Sorting by county
county = pd.DataFrame(df)
county = county.loc[county['Gender']== "Overall"]
county = county.loc[county['Race/Ethnicity'] == "Overall"]

county = county.sort_values(['Value'],ascending=False)
#.groupby(['State', 'County'])

county.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [6]:
# Sorting by Ethnicity (White)
white = pd.DataFrame(df)
white = white.loc[white['Gender']== "Overall"]
white = white.loc[white['Race/Ethnicity'] == "White"]
white = white.sort_values(['State'])
#.groupby(['State', 'County'])
#white.head()

In [7]:
# Sorting by Ethnicity (Black)
black = pd.DataFrame(df)
black = black.loc[black['Gender']== "Overall"]
black = black.loc[black['Race/Ethnicity'] == "Black"]
black = black.sort_values(['State'])
#.groupby(['State', 'County'])
#black.head()

In [8]:
# Sorting by Ethnicity (Hispanic)
hispanic = pd.DataFrame(df)
hispanic = hispanic.loc[hispanic['Gender']== "Overall"]
hispanic = hispanic.loc[hispanic['Race/Ethnicity'] == "Hispanic"]
hispanic = hispanic.sort_values(['State'])
#.groupby(['State', 'County'])
hispanic.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
246,AK,Anchorage,98.7,Overall,Hispanic,61.159049,-149.103905
251,AK,Fairbanks North Star,153.3,Overall,Hispanic,64.809327,-146.586265
254,AK,Kenai Peninsula,79.4,Overall,Hispanic,60.271254,-151.556972
258,AK,Matanuska-Susitna,60.6,Overall,Hispanic,62.31628,-149.600476
266,AK,Valdez-Cordova,180.5,Overall,Hispanic,61.536161,-144.339956

In [9]:
# Sorting by Ethnicity (Indian)
Indian = pd.DataFrame(df)
Indian = Indian.loc[Indian['Gender']== "Overall"]
Indian = Indian.loc[Indian['Race/Ethnicity'] == "American Indian and Alaskan Native"]
Indian = Indian.sort_values(['State'])
#.groupby(['State', 'County'])
Indian.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
409,AK,Anchorage,477.9,Overall,American Indian and Alaskan Native,61.159049,-149.103905
503,AK,Alaska,422.1,Overall,American Indian and Alaskan Native,64.3173,-152.571
433,AK,Yukon-Koyukuk,384.4,Overall,American Indian and Alaskan Native,65.50404,-151.41038
430,AK,Wade Hampton,417.1,Overall,American Indian and Alaskan Native,62.159714,-163.349484
429,AK,Valdez-Cordova,439.3,Overall,American Indian and Alaskan Native,61.536161,-144.339956

In [10]:
# Sorting by Ethnicity (Asian)
Asian = pd.DataFrame(df)
Asian = Asian.loc[Asian['Gender']== "Overall"]
Asian = Asian.loc[Asian['Race/Ethnicity'] == "Asian and Pacific Islander"]
Asian = Asian.sort_values(['State'])
#.groupby(['State', 'County'])

Asian.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
327,AK,Anchorage,214.9,Overall,Asian and Pacific Islander,61.159049,-149.103905
335,AK,Kenai Peninsula,125.0,Overall,Asian and Pacific Islander,60.271254,-151.556972
340,AK,Matanuska-Susitna,94.6,Overall,Asian and Pacific Islander,62.31628,-149.600476
500,AK,Alaska,172.6,Overall,Asian and Pacific Islander,64.3173,-152.571
1535,AL,Alabama,79.8,Overall,Asian and Pacific Islander,32.7949,-86.8267

In [11]:
#Sorting Top 10%
top10 = county.iloc[range(0,round(rows)),]
top10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [12]:
#Sorting Bottom 10%
bottom10= county.iloc[range(len(county)- round(rows), len(county))]
bottom10.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
45976,TN,Cocke County,576.6,Overall,Overall,35.927454,-83.1187
21858,MD,Somerset County,575.2,Overall,Overall,38.133509,-75.714006
27877,MS,Quitman County,573.3,Overall,Overall,34.257209,-90.287674
47801,TX,Hutchinson County,573.0,Overall,Overall,35.841282,-101.353978
27888,MS,Tishomingo County,572.1,Overall,Overall,34.747669,-88.231341

In [13]:
# Top 10% for each Race/Ethnicity

white_top10 = pd.DataFrame()
black_top10 = pd.DataFrame()
hispanic_top10 = pd.DataFrame()
Asian_top10 = pd.DataFrame()
Indian_top10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_top10 = white_top10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_top10 = black_top10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_top10 = hispanic_top10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_top10 = Asian_top10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_top10 = Indian_top10.append(In)

In [14]:
#Bottom 10 for each Race/Ethnicity

white_b10 = pd.DataFrame()
black_b10 = pd.DataFrame()
hispanic_b10 = pd.DataFrame()
Asian_b10 = pd.DataFrame()
Indian_b10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_b10 = white_b10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_b10 = black_b10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_b10 = hispanic_b10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_b10 = Asian_b10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_b10 = Indian_b10.append(In)

In [16]:
# Code for census pulling

# **********************************************
# Don't forget to jump into PythonData
# **********************************************

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import time

# Census & gmaps API Keys
# census_api = input("What's your Census API key?")
# gmap_api = input ("What's your Gmaps API key?")
census_api = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"
c = Census(census_api, year=2014)
gmap_api = "AIzaSyCS1nhiSTclbrQT2_WtJHFvRLZ_eeuh5iI"

# Configure gmaps
# gmaps.configure(api_key=gkey)

# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B17001A_002E", "B17001B_002E", "B17001C_002E",
                          "B17001D_002E","B17001E_002E", "B17001G_002E", 
                          "B17001I_002E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
census_pd

# Column Reordering
census_pd = census_pd.rename(columns={"B17001A_002E": "poverty_White", 
                                        "B17001B_002E": "poverty_Black", 
                                        "B17001C_002E": "poverty_AmerInd",
                                        "B17001D_002E": "poverty_Asian",
                                        "B17001E_002E": "poverty_NatHaw", 
                                        "B17001G_002E": "poverty_Multi", 
                                        "B17001I_002E": "poverty_Hisp",
                                        "B01003_001E" : "totalpop",
                                          "NAME": "Name", "county": "Country"})

# Divide the "name" into its county and state separately. 
census_pd["CountyName"] = ""
census_pd["StateName"] = ""
for i in range(0,len(census_pd)):
    st = census_pd.Name[i].split(",")
    census_pd.CountyName[i] = st[0]
    census_pd.StateName[i] = st[1]

# Add in Poverty Rate (Poverty Count / Population)
census_pd["white_rate"] = 100 * (census_pd["poverty_White"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["black_rate"] = 100 * (census_pd["poverty_Black"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["amerind_rate"] = 100 * (census_pd["poverty_AmerInd"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["asian_rate"] = 100 * (census_pd["poverty_Asian"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["nathaw_rate"] = 100 * (census_pd["poverty_NatHaw"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["multi_rate"] = 100 * (census_pd["poverty_Multi"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["hisp_rate"] = 100 * (census_pd["poverty_Hisp"].astype(int) / census_pd["totalpop"].astype(int))


### Heat Mapping?
# Configure gmaps with API key
gmaps.configure(api_key=gmap_api)
# Store 'Lat' and 'Lng' into  locations 
locations = county[["County", "Lat", "Lng"]]
locations.Lat = locations.Lat.astype(float)
locations.Lng = locations.Lng.astype(float)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
poverty_rate_white = census_pd[["CountyName", "white_rate"]]
poverty_rate_white= poverty_rate_white.rename(columns = {"CountyName": "County"})
poverty_rate_white.head()

pov_whitemap = pd.merge(locations, poverty_rate_white, on = "County", how = "inner")

# Create a poverty Heatmap layer
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Figure(layout=FigureLayout(height='420px'))

In [18]:
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = .5)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

Figure(layout=FigureLayout(height='420px'))

In [19]:
census_pd.head()

,totalpop,poverty_White,poverty_Black,poverty_AmerInd,poverty_Asian,poverty_NatHaw,poverty_Multi,poverty_Hisp,Name,Country,state,CountyName,StateName,white_rate,black_rate,amerind_rate,asian_rate,nathaw_rate,multi_rate,hisp_rate
0,9974203.0,852711.0,196990.0,12335.0,173556.0,3764.0,58196.0,1126170.0,"Los Angeles County, California",037,06,Los Angeles County,California,8.549164,1.974995,0.123669,1.740049,0.037737,0.583465,11.290827
1,152452.0,28174.0,1412.0,460.0,417.0,6.0,879.0,23490.0,"Madera County, California",039,06,Madera County,California,18.480571,0.926193,0.301734,0.273529,0.003936,0.576575,15.408128
2,256802.0,13338.0,1471.0,205.0,1443.0,33.0,1191.0,8138.0,"Marin County, California",041,06,Marin County,California,5.193885,0.572815,0.079828,0.561912,0.012850,0.463781,3.168978
3,17946.0,2394.0,34.0,191.0,23.0,0.0,49.0,556.0,"Mariposa County, California",043,06,Mariposa County,California,13.340020,0.189457,1.064304,0.128162,0.000000,0.273041,3.098183
4,87612.0,13023.0,199.0,1269.0,325.0,43.0,751.0,5829.0,"Mendocino County, California",045,06,Mendocino County,California,14.864402,0.227138,1.448432,0.370954,0.049080,0.857189,6.653198

In [20]:
census_pd.to_csv("cleanedCensus.csv")