In [1]:
# Imports
import os
import csv
import pandas as pd

In [2]:
file = "Data.csv"
df = pd.read_csv(file)

In [3]:
# Deleting Useless Columns
df = df.drop(columns= ["Year", "GeographicLevel","DataSource","Class",'Topic',"Data_Value_Type",'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Unit'])
df = df.rename(columns={"LocationAbbr": "State", "LocationDesc": "County", "Data_Value": "Value", "Stratification1": "Gender", "Stratification2": "Race/Ethnicity", "Location 1": "LatLng"})

# Dropping Rows that are empty
df = df.dropna(how='any')

# Getting 10% of dataframe
a = len(df)
rows = .1 *a
rows

df.head()

,State,County,Value,Gender,Race/Ethnicity,LatLng
0,AK,Aleutians East,105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,Aleutians West,211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,Anchorage,257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,Bethel,351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,Denali,305.5,Overall,Overall,"(63.678399, -149.962076)"

In [4]:
split = df["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(", ", n = 1, expand = True) 
splitLng = split[1].str.split(")", n = 1, expand = True) 
# making seperate first name column from new data frame 
df["Lat"]= split[0] 
  
# making seperate last name column from new data frame 
df["Lng"]= splitLng[0] 
  
# Dropping old Name columns 
df.drop(columns =["LatLng"], inplace = True) 

# df display 
#df

In [5]:
# Sorting by county
county = pd.DataFrame(df)
county = county.loc[county['Gender']== "Overall"]
county = county.loc[county['Race/Ethnicity'] == "Overall"]

county = county.sort_values(['Value'],ascending=False)
#.groupby(['State', 'County'])

county.head()

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [ ]:
# Sorting by Ethnicity (White)
white = pd.DataFrame(df)
white = white.loc[white['Gender']== "Overall"]
white = white.loc[white['Race/Ethnicity'] == "White"]
white = white.sort_values(['State'])
#.groupby(['State', 'County'])
#white.head()

In [ ]:
# Sorting by Ethnicity (Black)
black = pd.DataFrame(df)
black = black.loc[black['Gender']== "Overall"]
black = black.loc[black['Race/Ethnicity'] == "Black"]
black = black.sort_values(['State'])
#.groupby(['State', 'County'])
#black.head()

In [ ]:
# Sorting by Ethnicity (Hispanic)
hispanic = pd.DataFrame(df)
hispanic = hispanic.loc[hispanic['Gender']== "Overall"]
hispanic = hispanic.loc[hispanic['Race/Ethnicity'] == "Hispanic"]
hispanic = hispanic.sort_values(['State'])
#.groupby(['State', 'County'])
hispanic.head()

In [ ]:
# Sorting by Ethnicity (Indian)
Indian = pd.DataFrame(df)
Indian = Indian.loc[Indian['Gender']== "Overall"]
Indian = Indian.loc[Indian['Race/Ethnicity'] == "American Indian and Alaskan Native"]
Indian = Indian.sort_values(['State'])
#.groupby(['State', 'County'])
Indian.head()

In [ ]:
# Sorting by Ethnicity (Asian)
Asian = pd.DataFrame(df)
Asian = Asian.loc[Asian['Gender']== "Overall"]
Asian = Asian.loc[Asian['Race/Ethnicity'] == "Asian and Pacific Islander"]
Asian = Asian.sort_values(['State'])
#.groupby(['State', 'County'])

Asian.head()

In [ ]:
#Sorting Top 10%
top10 = county.iloc[range(0,round(rows)),]
top10.head()

In [ ]:
#Sorting Bottom 10%
bottom10= county.iloc[range(len(county)- round(rows), len(county))]
bottom10.head()

In [ ]:
# Top 10% for each Race/Ethnicity

white_top10 = pd.DataFrame()
black_top10 = pd.DataFrame()
hispanic_top10 = pd.DataFrame()
Asian_top10 = pd.DataFrame()
Indian_top10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_top10 = white_top10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_top10 = black_top10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_top10 = hispanic_top10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_top10 = Asian_top10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_top10 = Indian_top10.append(In)

In [ ]:
#Bottom 10 for each Race/Ethnicity

white_b10 = pd.DataFrame()
black_b10 = pd.DataFrame()
hispanic_b10 = pd.DataFrame()
Asian_b10 = pd.DataFrame()
Indian_b10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_b10 = white_b10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_b10 = black_b10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_b10 = hispanic_b10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_b10 = Asian_b10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_b10 = Indian_b10.append(In)