In [36]:
# Imports
import os
import csv
import json
import requests
import pandas as pd

In [37]:
# Get API key
gkey = input("Enter API Key ")

Enter API Key AIzaSyCS1nhiSTclbrQT2_WtJHFvRLZ_eeuh5iI

In [38]:
file = "Heart_Disease_Mortality_Data_Among_US_Adults_35_by_State_Territory_and_County.csv"
df = pd.read_csv(file)

In [39]:
# Deleting Useless Columns
df = df.drop(columns= ["Year", "GeographicLevel","DataSource","Class",'Topic',"Data_Value_Type",'Data_Value_Footnote_Symbol','Data_Value_Footnote','StratificationCategory1','StratificationCategory2','TopicID','LocationID','Data_Value_Unit'])
df = df.rename(columns={"LocationAbbr": "State", "LocationDesc": "County", "Data_Value": "Value", "Stratification1": "Gender", "Stratification2": "Race/Ethnicity", "Location 1": "LatLng"})

# Dropping Rows that are empty
df = df.dropna(how='any')

# Adding df1 for Google API Purpose, copy of df
df1 = df

# Getting 10% of dataframe
a = len(df)
rows = .1 *a
rows

df.head()

State             32131
County            32131
Value             32131
Gender            32131
Race/Ethnicity    32131
LatLng            32131
dtype: int64

,State,County,Value,Gender,Race/Ethnicity,LatLng
0,AK,Aleutians East,105.3,Overall,Overall,"(55.440626, -161.962562)"
1,AK,Aleutians West,211.9,Overall,Overall,"(52.995403, -170.251538)"
2,AK,Anchorage,257.9,Overall,Overall,"(61.159049, -149.103905)"
3,AK,Bethel,351.6,Overall,Overall,"(60.924483, -159.749655)"
5,AK,Denali,305.5,Overall,Overall,"(63.678399, -149.962076)"

In [40]:
split = df["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(", ", n = 1, expand = True) 
splitLng = split[1].str.split(")", n = 1, expand = True) 
# making seperate first name column from new data frame 
df["Lat"]= split[0] 
  
# making seperate last name column from new data frame 
df["Lng"]= splitLng[0] 
  
# Dropping old Name columns 
df = df.drop(columns =["LatLng"]) 

# df display 

df.head()

  State          County  Value   Gender Race/Ethnicity        Lat          Lng
0    AK  Aleutians East  105.3  Overall        Overall  55.440626  -161.962562
1    AK  Aleutians West  211.9  Overall        Overall  52.995403  -170.251538
2    AK       Anchorage  257.9  Overall        Overall  61.159049  -149.103905
3    AK          Bethel  351.6  Overall        Overall  60.924483  -159.749655
5    AK          Denali  305.5  Overall        Overall  63.678399  -149.962076

In [41]:
# Sorting by county
county = pd.DataFrame(df)
county = county.loc[county['Gender']== "Overall"]
county = county.loc[county['Race/Ethnicity'] == "Overall"]

county = county.sort_values(['Value'],ascending=False)
#.groupby(['State', 'County'])
print(county.count())
county.head()

State             3273
County            3273
Value             3273
Gender            3273
Race/Ethnicity    3273
Lat               3273
Lng               3273
dtype: int64

,State,County,Value,Gender,Race/Ethnicity,Lat,Lng
20421,LA,Franklin Parish,1096.5,Overall,Overall,32.140942,-91.668258
20411,LA,Caldwell Parish,853.9,Overall,Overall,32.097113,-92.111936
32191,ND,Sioux County,762.7,Overall,Overall,46.110686,-101.048935
570,AL,Wilcox County,758.0,Overall,Overall,31.997603,-87.309377
25804,MO,Washington County,744.8,Overall,Overall,37.962921,-90.883411

In [ ]:
#county.to_csv("countydata.csv")

In [ ]:
# Sorting by Ethnicity (White)
white = pd.DataFrame(df)
white = white.loc[white['Gender']== "Overall"]
white = white.loc[white['Race/Ethnicity'] == "White"]
white = white.sort_values(['State'])
#.groupby(['State', 'County'])
#white.head()
#white.to_csv("whitedata.csv")

In [ ]:
# Sorting by Ethnicity (Black)
black = pd.DataFrame(df)
black = black.loc[black['Gender']== "Overall"]
black = black.loc[black['Race/Ethnicity'] == "Black"]
black = black.sort_values(['State'])
#.groupby(['State', 'County'])
#black.head()
#black.to_csv("blackdata.csv")

In [ ]:
# Sorting by Ethnicity (Hispanic)
hispanic = pd.DataFrame(df)
hispanic = hispanic.loc[hispanic['Gender']== "Overall"]
hispanic = hispanic.loc[hispanic['Race/Ethnicity'] == "Hispanic"]
hispanic = hispanic.sort_values(['State'])
#.groupby(['State', 'County'])
#hispanic.to_csv("hispanicdata.csv")

In [ ]:
# Sorting by Ethnicity (Indian)
Indian = pd.DataFrame(df)
Indian = Indian.loc[Indian['Gender']== "Overall"]
Indian = Indian.loc[Indian['Race/Ethnicity'] == "American Indian and Alaskan Native"]
Indian = Indian.sort_values(['State'])
#.groupby(['State', 'County'])
#Indian.to_csv("indiandata.csv")

In [ ]:
# Sorting by Ethnicity (Asian)
Asian = pd.DataFrame(df)
Asian = Asian.loc[Asian['Gender']== "Overall"]
Asian = Asian.loc[Asian['Race/Ethnicity'] == "Asian and Pacific Islander"]
Asian = Asian.sort_values(['State'])
#.groupby(['State', 'County'])

#Asian.to_csv("asiandata.csv")

In [29]:
#Sorting Top 10%
top10 = county.iloc[range(0,round(rows)),]
top10.count()

State             3213
County            3213
Value             3213
Gender            3213
Race/Ethnicity    3213
Lat               3213
Lng               3213
dtype: int64

In [30]:
#Sorting Bottom 10%
bottom10= county.iloc[range(len(county)- round(rows), len(county))]
bottom10.count()

State             3213
County            3213
Value             3213
Gender            3213
Race/Ethnicity    3213
Lat               3213
Lng               3213
dtype: int64

In [ ]:
# Top 10% for each Race/Ethnicity

white_top10 = pd.DataFrame()
black_top10 = pd.DataFrame()
hispanic_top10 = pd.DataFrame()
Asian_top10 = pd.DataFrame()
Indian_top10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_top10 = white_top10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_top10 = black_top10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_top10 = hispanic_top10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_top10 = Asian_top10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_top10 = Indian_top10.append(In)

In [ ]:
#Bottom 10 for each Race/Ethnicity

white_b10 = pd.DataFrame()
black_b10 = pd.DataFrame()
hispanic_b10 = pd.DataFrame()
Asian_b10 = pd.DataFrame()
Indian_b10 = pd.DataFrame()
for i in top10['County']:
    sorted_white = white.loc[white['County'] == i]
    white_b10 = white_b10.append(sorted_white)
    
    sorted_black = black.loc[black['County'] == i]
    black_b10 = black_b10.append(sorted_black)
    
    his = hispanic.loc[hispanic['County'] == i]
    hispanic_b10 = hispanic_b10.append(his)
    
    asian = Asian.loc[Asian['County'] == i]
    Asian_b10 = Asian_b10.append(asian)
    
    In = Indian.loc[Indian['County'] == i]
    Indian_b10 = Indian_b10.append(In)

In [ ]:
# Code for census pulling

# **********************************************
# Don't forget to jump into PythonData
# **********************************************

# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
import time

# Census & gmaps API Keys
# census_api = input("What's your Census API key?")
# gmap_api = input ("What's your Gmaps API key?")
census_api = "85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98"
c = Census(census_api, year=2014)
gmap_api = "AIzaSyCS1nhiSTclbrQT2_WtJHFvRLZ_eeuh5iI"

# Configure gmaps
# gmaps.configure(api_key=gkey)

# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
census_data = c.acs5.get(("NAME", "B17001A_002E", "B17001B_002E", "B17001C_002E",
                          "B17001D_002E","B17001E_002E", "B17001G_002E", 
                          "B17001I_002E", "B01003_001E"),{'for': 'county:*'})

# Convert to DataFrame
census_pd = pd.DataFrame(census_data)
census_pd

# Column Reordering
census_pd = census_pd.rename(columns={"B17001A_002E": "poverty_White", 
                                        "B17001B_002E": "poverty_Black", 
                                        "B17001C_002E": "poverty_AmerInd",
                                        "B17001D_002E": "poverty_Asian",
                                        "B17001E_002E": "poverty_NatHaw", 
                                        "B17001G_002E": "poverty_Multi", 
                                        "B17001I_002E": "poverty_Hisp",
                                        "B01003_001E" : "totalpop",
                                          "NAME": "Name", "county": "Country"})

# Divide the "name" into its county and state separately. 
census_pd["CountyName"] = ""
census_pd["StateName"] = ""
for i in range(0,len(census_pd)):
    st = census_pd.Name[i].split(",")
    census_pd.CountyName[i] = st[0]
    census_pd.StateName[i] = st[1]

# Add in Poverty Rate (Poverty Count / Population)
census_pd["white_rate"] = 100 * (census_pd["poverty_White"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["black_rate"] = 100 * (census_pd["poverty_Black"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["amerind_rate"] = 100 * (census_pd["poverty_AmerInd"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["asian_rate"] = 100 * (census_pd["poverty_Asian"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["nathaw_rate"] = 100 * (census_pd["poverty_NatHaw"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["multi_rate"] = 100 * (census_pd["poverty_Multi"].astype(int) / census_pd["totalpop"].astype(int))
census_pd["hisp_rate"] = 100 * (census_pd["poverty_Hisp"].astype(int) / census_pd["totalpop"].astype(int))


### Heat Mapping?
# Configure gmaps with API key
gmaps.configure(api_key=gmap_api)
# Store 'Lat' and 'Lng' into  locations 
locations = county[["County", "Lat", "Lng"]]
locations.Lat = locations.Lat.astype(float)
locations.Lng = locations.Lng.astype(float)
# Convert Poverty Rate to float and store
# HINT: be sure to handle NaN values
poverty_rate_white = census_pd[["CountyName", "white_rate"]]
poverty_rate_white= poverty_rate_white.rename(columns = {"CountyName": "County"})
poverty_rate_white.head()

pov_whitemap = pd.merge(locations, poverty_rate_white, on = "County", how = "inner")

# Create a poverty Heatmap layer
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

In [ ]:
White_povmap = gmaps.figure()

heat_layer_white = gmaps.heatmap_layer(pov_whitemap[["Lat", "Lng"]], weights=pov_whitemap["white_rate"], 
                                 dissipating=False, max_intensity=100,
                                 point_radius = .5)

# Adjust heat_layer setting to help with heatmap dissipating on zoom
# heat_layer.dissipating = False
# heat_layer.max_intensity = 100
# heat_layer.point_radius = 1

White_povmap.add_layer(heat_layer_white)

White_povmap

In [ ]:
census_pd.head()

In [ ]:
census_pd.to_csv("cleanedCensus.csv")

In [42]:
# Creating DataFrame with correct google Lat/Lat format
google_Latlng = df1
split = google_Latlng["LatLng"].str.split("(", n = 1, expand = True) 
split = split[1].str.split(")", n = 1, expand = True) 
google_Latlng["Lat/Lng"]= split[0] 
  
# Dropping old columns 
google_Latlng.drop(columns =["LatLng"], inplace = True) 
google_Latlng.count()

State             32131
County            32131
Value             32131
Gender            32131
Race/Ethnicity    32131
Lat               32131
Lng               32131
Lat/Lng           32131
dtype: int64

In [43]:
#Cleaning up google_Latlng df
google_Latlng = google_Latlng.loc[google_Latlng['Gender']== "Overall"]
google_Latlng = google_Latlng.loc[google_Latlng['Race/Ethnicity'] == "Overall"]
google_Latlng = google_Latlng.sort_values(['Value'],ascending=False)
#google_Latlng.head()

In [11]:
# Top 10
google_top10 = google_Latlng.iloc[range(0,round(rows)),]

#Bottom 10
google_bottom10= google_Latlng.iloc[range(len(google_Latlng)- round(rows), len(google_Latlng))]

3273
3213

In [ ]:
#fast_food_count = []
#base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?query=Fast+Food&"
#token = 0
#if token < 1:
#    for i in google_top10["Lat/Lng"]:
#        params = {
#        "location": i,
#        "keyword": "fast",
#        "radius": 35000,
#        "type": "restaurant",
#        "key": gkey}
#        response = requests.get(base_url, params=params)

        # convert response to json
#        places_data = response.json()
        # Print the json (pretty printed)
        #print(json.dumps(places_data, indent=4, sort_keys=True))
        
#        fast_food_count.append(len(places_data["results"]))

In [ ]:
# Adding Fast Food Column to Top 10 df
top10['Fast Food Count'] = fast_food_count
#top10.head()

In [ ]:
#top10.to_csv("Top10.csv", index=False)

In [ ]:
fast_food_countb = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?query=Fast+Food&"
token = 0
if token < 1:
    for i in google_bottom10["Lat/Lng"]:
        params = {
        "location": i,
        "keyword": "fast",
        "radius": 35000,
        "type": "restaurant",
        "key": gkey}
        response = requests.get(base_url, params=params)

        # convert response to json
        places_data = response.json()
        # Print the json (pretty printed)
        #print(json.dumps(places_data, indent=4, sort_keys=True))
        
        fast_food_countb.append(len(places_data["results"]))

In [ ]:
bottom10['Fast Food Count'] = fast_food_count
bottom10.head()

In [ ]:
bottom10.to_csv("Bottom10.csv", index=False)

In [44]:
#Creating csv for fast food counts for all counties
total_fast_food_count = []
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?query=Fast+Food&"
token = 0
if token < 1:
    for i in google_Latlng["Lat/Lng"]:
        params = {
        "location": i,
        "keyword": "fast",
        "radius": 35000,
        "type": "restaurant",
        "key": gkey}
        response = requests.get(base_url, params=params)

        # convert response to json
        places_data = response.json()
        # Print the json (pretty printed)
        #print(json.dumps(places_data, indent=4, sort_keys=True))
        
        total_fast_food_count.append(len(places_data["results"]))

In [51]:
total_FF = google_Latlng
total_FF["Fast Food Count"] = total_fast_food_count
total_FF.to_csv("TotalFF.csv", index=False)